<!doctype html>
<head><title>search results</title>
  <link rel="stylesheet" href="../../style.css"/>
</head>
<body>

  <p>You searched for <%= @query %> in <%= @searchType %></p>
  <p>The catalogue returned <%= @hitcount %> results: </p>
  <hr />
  <div id="facets">
  Facets: 
  <% @results.facets["date"]['terms'].each do |f| %>
    <%= f['term'].to_s %> (<%= f['count'] %>)<br />
  <% end %><br /><br />
 <% @results.facets["author"]['terms'].each do |f| %>
    <%= f['term'] %> (<%= f['count'] %>)<br />
  <% end %>
  </div>

  <div id="results">
  <% @results.each do |rec| %>
    <a href="/record/<%= rec.id %>"><%= rec.title %></a> / <%= rec.author %><br />
    Year of Publication: <%= rec.date %><br />
    Call Number: <%= rec.call %><br /><br />
    ISBN: <%= rec.isbn %><br />
    OCLC Number: <%= rec.oclc %><br />
    <% unless rec.url.empty? then %>
      <a href="<%= rec.url %>">Electronic Access</a><br />
    <% end %>
    <hr />
  <% end %>
  </div>
  <hr />

  <p>Catalogue search string: <%= @query_string %>


</body>
</html>
